ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}
.active2 {
    background-color: none;
    align: center;
}
.active {
    background-color: #4CAF50;
}
div.static {
    position: static;
    border: 3px solid #73AD21;
    width: 70%;
	  height: 100%;
    font-size: 20px;
    align: center;
}
p {
  align: left;
  font-size: 15px;
}
.center {
  align: center;
}
.color  {
  background-color: Tomato;
  align: center;
}
#promo {
  background-color: #585784;
  height: 50%;
  width: 65%;
  align: center;
}
#promo2 {
  background-color: #686796;
  height: 50%;
  width: 65%;
  align: center;
}
#promo3 {
  background-color: #7a79a8;
  height: 50%;
  width: 65%;
  align: center;
}
#promo4 {
  background-color: #9291bf;
  height: 50%;
  width: 65%;
  align: center;
}
